div.page.no-navbar(data-page="system/about")
  div.page-content
    div.content-block-title U味儿是什么
    div.content-block 啥，哈哈
    div.content-block-title 有谁在用
    div.content-block 啥，哈哈
    div.content-block-title 办公地址
    div.content-block 啥，哈哈
