table.product_toolbar{position:absolute;left:0;bottom:0;width:100%;background-color:white;z-index:500;border-collapse : collapse}
.product_toolbar td{text-align:center;width:33%;font-size:1.5em;}
.product_toolbar td a{display:block}
