html{overflow: hidden;}
body{font-size:1.5em;background:url(http://77g4mv.com1.z0.glb.clouddn.com/stock-photo-22119743.jpg) #643 center center;}
ul#wall{padding:0px;margin:0px;}
ul#wall li{margin:1em; background-color:white;border-radius:10px;list-style:none;padding:10px;display:block;opacity:0.95;box-shadow: 10px 10px 10px black ;}
