include navbar

div.page(data-page="user/my")
  div.page-content
    h1  我的 U 味
    div  订单列表 
    p t
    p t
    p t
    p t
    p t
    p t
    p t
    p t
    p t
    p t
    p t
    p t
    p t
    p t
    p t
    p t
    p t
    p t
    p t
    p t
    p t
    p t
    p t
    p t
    p t
