div.navbar
  div.navbar-inner
    div.left
      a.link.icon-only.back(href="#")
        i.ion.ion-arrow-left-c
    div.center.sliding  鱼香肉丝
    div.right
      a.link.icon-only(href="#")
        i.ion.ion-plus-circled

div.page.no-toolbar(data-page="product/detail")
  div.page-content
    h1  商品名
    div  商品分类
    p sdfaodf
    p sdfaodf
    p sdfaodf
    p sdfaodf
    p sdfaodf
    p sdfaodf
    p sdfaodf
    p sdfaodf
    p sdfaodf
    p sdfaodf
    p sdfaodf
    p sdfaodf
    p sdfaodf
    p sdfaodf
    p sdfaodf
    p sdfaodf
    p sdfaodf
    p sdfaodf
    p sdfaodf

  table.product_toolbar
    tr
      td(style="font-size:36px")
        a.link.no-animation(href="user/my/cart.html")
          i.icon.ion-android-cart
            span.badge.bg-red 5
      td(style="width:auto;background-color:#ff9")
        a.link(href="#") 加入购物车
      td(style="background-color:#f99")
        a.link(href="#") 下单
