div.page.no-navbar(data-page="product/list")
  div.page-content
    div.list-block.media-list
      ul
        li
          a.item-content.item-link(href="product/detail.html")
            div.item-media
              img(src="http://www.people.com.cn/h/pic/20150718/44/17709699964471738280.jpg"
                  width="80"
                  height="80")
            div.item-inner
              div.item-title-row
                div.item-title 鱼香肉丝
                div.item-after ￥15
              .item-subtitle  正在促销
              .item-text 两个人的量，一个人的价
        li
          a.item-content.item-link(href="product/detail.html")
            div.item-media
              img(src="http://www.ladyhua.com/uploads/allimg/110830/62-110S0143H10-L.jpg"
                  width="80"
                  height="80")
            div.item-inner
              div.item-title-row
                div.item-title 炖豆腐
                div.item-after ￥10
              .item-subtitle  正在促销
              .item-text 两个人的量，一个人的价
